<style>
  /* Mobile navbar collapse styling */
  @media (max-width: 767.98px) {
    .navbar-collapse {
      background-color: #fff;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    .navbar-nav .nav-link {
      padding: 0.5rem 1rem;
    }
    .search-inp {
      border-color: #2a7f7f;
    }
  }
</style>

<nav
  class="navbar navbar-expand-md bg-body-light border-bottom sticky-top py-2"
>
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand mx-3 d-flex flex-column lh-sm" href="/">
      <span class="fw-bold" style="font-size: 1.7rem">Stayzy</span>
      <span
        class="text-muted"
        style="
          transform: rotate(-3deg);
          font-size: 0.8rem;
          position: relative;
          top: -2px;
          z-index: 20;
        "
        >Your next stay, made easy</span
      >
    </a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left: Explore -->
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
      </ul>

      <!-- Center: Search -->
      <form class="d-flex my-2 my-md-0 mx-md-3 flex-fill" role="search">
        <input
          class="form-control me-2 px-4 border-1 search-inp rounded-pill"
          type="search"
          placeholder="Search destinations"
        />
        <button
          id="rev-btn"
          class="btn rounded-pill px-3 d-flex align-items-center"
          type="submit"
        >
          <i class="fa-solid fa-magnifying-glass me-2"></i> <b>Search</b>
        </button>
      </form>

      <!-- Right: Links -->
      <ul class="navbar-nav mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add New Listings</a>
        </li>

        <% if (!currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Login</b></a>
        </li>
        <% } %> <% if (currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
